{{!-- Botão Hamburger --}}
{{> sidebar}}

{{!-- Overlay para quando o menu estiver aberto em telas menores --}}
<div class="overlay-menu"></div>

{{!-- Modal Adicionar Pista --}}
{{> add-spot-modal}}

{{!-- Interface de visualização de perfil --}}
{{> profile-view}}

{{!-- Mapa --}}
<div id="map"></div>